.wallpaper{
    position: fixed;
	top: 0;
	left: 0;
	width: 100%;
    height: 100%;
	z-index: -1;
}
header{
    background-color: #bafcd8;
    height: 60px;
    display: flex;
    width: 100%;
    margin-bottom: 30px;
    
}
header h1{
    margin: auto;
    margin-top: 10px;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 2px 2px 5px #ffff00;
    font-family: DigimonDSRegular;
    color: #ff7300;
    font-size: 40px;

}

/* Biography page */
.biography{
    display: flex;
    gap: 10px;
    margin-bottom: 30px;
    align-items: center;
    align-content: space-around;
    flex-wrap: wrap;
    justify-content: center;
}
.biography-meme{
    max-height: 100px;
    border-radius: 10px;
}
.list-biography{
    background-color: #aae7c5;
    border-radius: 10px;
    padding: 10px;
    font-family: BorelRegular;
}

/* Likes page */

.category-of-window{
    display: flex;
    max-width: 500px;
    text-align: center;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: auto;
    margin-bottom: 30px;
    background-color: #aae7c5;
    border-radius: 10px;
    font-family: BorelRegular;
}
.category-of-window h5{
    margin-top: 10px;
    font-size: 18px;
    border: 2px #590864 solid;
    background-color: #fff;
    border-radius: 10px;
}

.candy-meme,
.values-meme{
    width: 220px;
    height: 150px;
    margin-bottom: 10px;
    border-radius: 10px;
}

/* Dislikes page */
.dislike-list{
    list-style: none;
    color: #972424;
    font-family: AngryText;
    text-align: center;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 20px;
    
}
.dislike-list li::before {
    content: "💢"; /* Custom symbol */
    margin-right: 7px;
  }
.dislike-list li{
    border: 1px solid #fff;
    background-color: #dcdcdc;
    margin-top: 20px;

}
#dislike-meme{
    max-width: 220px;
    max-height: 180px;
    border-radius: 10px;
}

/* Personality page */
#per-space{
    margin-top: 10px;
}
#per-img{
    border-radius: 10px;
    max-width: 400px;
    max-height: 252px;
}
#per-img-two{
    margin-bottom: -20px;
}
/* Values page */

/* Curiosity Page */
.observation-curiosity{
    margin-top: -15px;
    margin-bottom: 0px;
    font-size: 12px;
    border: 4px #78b61b dotted;
    background-color: #ceff85;
    border-radius: 30px;
}

/* Dreams Page */
.dreams-list li{
    border: 1px #fff solid;
    background-color: #dcdcdc;
    margin: 20px;
}
.dreams-list li::before{
    content: "🎯";
    margin-right: 10px;
}


/* Introduction and anothers things */
.introduction.window-on{
    display: flex;
    margin: 10px;
    align-items: center;
    align-content: space-around;
    flex-wrap: wrap;
    justify-content: center;
}
.window-off{
    display: none;
}

.introduction-text{
    font-family: BorelRegular;
    max-width: 70%;
    background-color: #aae7c5;
    border-radius: 10px;
    padding: 20px;
}
.list-text{
    background-color: #aae7c5;
    border-radius: 2px 2px 10px 10px;
    border-bottom: 2px solid #813c1b;
}
.title-of-window{
    background-color: #aae7c5;
    border-radius: 10px 10px 2px 2px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: center;
    font-family: BorelRegular;
    max-width: 370px;
}

.introduction-text h2,
.introduction-text p{
    margin-bottom: 10px;
}

.picture{
    margin: 10px;
    border-radius: 100%;
    border-style: double;
    border-color: #adff2f;
}

.logo{
    max-width: 50px;
    min-height: 50px;
    position: absolute;
    top: 0;
}
.button-music{
    max-width: 100px;
    min-width: 50px;
    max-height: 100px;
    min-height: 50px;
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 20px;
    background-color: #bafcd8;
    border-radius: 2px 2px 10px 10px;
}
.button-music:hover{
    cursor: pointer;
}

body{
    background-color: #75d158;
}

.list{
    margin: auto;
    display: block;
    padding-bottom: 10px;
    max-width: 370px;
}
.list h3{
    font-family: BorelRegular;
    font-size: 30px;
    text-align: center;
}
.list-separated{
    background: linear-gradient(to top, #590864, #aae7c5);
    border: 5px #aae7c5 solid;
    border-radius: 10px;
    min-height: 50px;
    margin: auto;
    
}
.list-of-buttons{
    display: flex;
    margin: 15px;
    gap: 15px;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    align-items: center;
}
.buttons{
    border: none;
    border-radius: 10px;
    vertical-align: bottom;
    padding: 5px;
    font-size: 20px;
    text-align: center;
    color: #590864;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: 0.5s ease-in-out;
}
.buttons.bselect{
    color: #590864;
    background: linear-gradient(to right, #590864, #ffffff, #590864);
	background-size: 180% 180%;
	animation: gradient-animation 3s ease-in-out infinite;
    text-decoration: underline 2px;
    transition: 0.7s ease-in-out;
}

@keyframes gradient-animation {
	0% {
		background-position: 25% 50%;
	}

	50% {
		background-position: 50% 25%;
	}

    100% {
		background-position: 25% 0%;
	}
}

.buttons:hover{
    cursor: pointer;
    color: #b734c9;
    transform: scale(1.1);
} 
.buttons.bselect:hover{
    color: #b734c9;
    background: linear-gradient(to right, #b734c9, #ffffff, #b734c9);
	background-size: 180% 180%;
	animation: gradient-animation 3s ease-in-out infinite;
    text-decoration: underline 1.5px;
    transition: 0.7s ease-in-out;
    transform: scale(1.1);
}



